* {
    margin: 0;
    padding: 0;
}

.dragonCont {
    display: flex;
    padding: 10px;
}

.dragonimg {
    width: 15rem;
    margin-right: 10px;
    border-radius: 10px;
}

.dragonDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dragonName {
    
}

.dragonBtn {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: blue;
    color: white;
    border: none;
    font-size: 18px;

}